<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-meetinglawyers-cordova" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MeetingLawyers</name>
    <js-module name="CDVMeetingLawyers" src="www/CDVMeetingLawyers.js">
        <clobbers target="meetinglawyers" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CDVMeetingLawyers">
                <param name="ios-package" value="CDVMeetingLawyers" />
            </feature>
            <preference name="deployment-target" value="13.0" />
            <preference name="UseSwiftLanguageVersion" value="5" />
        </config-file>
        <source-file src="src/ios/CDVMeetingLawyers.swift" />
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/" />
                <source url="https://bitbucket.org/meetinglawyers/ios-cocoapods-specs.git" />
                <source url="https://github.com/MeetingLawyers/ios-meeting-podspec.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="MeetingLawyers" spec="0.1.0" />
            </pods>
        </podspec>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CDVMeetingLawyers">
                <param name="android-package" value="com.meetinglawyers.cordova.CDVMeetingLawyers" />
                <!-- TODO: Eliminar-->
                <!-- <param name="onload" value="true" />  -->
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/CDVMeetingLawyers.java" target-dir="src/com.meetinglawyers.cordova/CDVMeetingLawyers" />
        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
    </platform>
</plugin>